{% extends 'general.html.twig' %}


{% block content %}
    <div class="cooming-soon-box spaceBetween">
        <div class="soon-gradient">
            <div class="map"></div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-lg-offset-3">

                        <div class="expand">
                            <h2>Modifier un commentaire</h2>

                        </div>
                        <div class="get-box">

                            {{ form_start(formComment) }}


                            {{ form_row(formComment.texte) }}

                            <button type="submit" class="btn btn-primary btn-inscr spaceBetween">Modifier un commentaire</button>

                            {{ form_end(formComment) }}


                        </div>
                    </div>
                    <div class="col-lg-6">
                        <p></p>
                    </div>

                </div>
            </div>
        </div>
    </div>
{% endblock %}