{% extends 'general.html.twig' %}

{% block content %}
    <div class="cooming-soon-box spaceBetween">
        <div class="soon-gradient ">
            <div class="map"></div>
            <div class="container ">
                <div class="row">
                    <div class="col-lg-6 col-lg-offset-3">

                        <div class="expand">
                            <h2>Connexion</h2>

                        </div>
                        <div class="get-box">

                            <form class="get-form">
                                <input type="email" placeholder="Adresse mail" /><br/><br/>
                                <input type="text" placeholder="Mot de passe" /><br/><br/>
                                <button class="btn btn-primary btn-inscr">Se connecter</button>
                            </form>

                        </div>
                    </div>
                    <div class="col-md-12">

                    </div>

                </div>
            </div>
        </div>
    </div>
{% endblock %}