{% extends 'general.html.twig' %}

{% block content %}
    <div class="container">
        <div class="row">
            <h2>Nous contacter</h2>
            <p>Téléphone : 04265 48 95<br/>
                Mail : adressemail@gmail.com<br/>
                Adresse : 45 rue de l'existence 4200 Lièghe Pelgique<br/>
            </p>
        </div>
    </div>
{% endblock %}