{% extends 'general.html.twig' %}

{% block content %}
    <div class="container bookDescription spaceBetween">

        <div class="row clearfix">
            <div class="col-lg-6 col-sm-6 col-md-6 spaceBetween">
                <img class="centerImg" src="{{ asset('images/' ~ bookInfo.imgLivre) }}" alt="exemple"/>
            </div>
            <div class="col-lg-6 col-sm-6 col-md-6 spaceBetween">
                <h4 class="centerText spaceBetween">{{ bookInfo.titre }}</h4>
                <div class="col-md-6 col-sm-6 spaceBetween">
                    <div class="form-sh"> <a class="btn" href={{ path('wishListManagementPage') }}>Obtenir</a> </div>
                </div>
                <div class="col-md-6 col-sm-6 spaceBetween">
                    <div class="form-sh"> <a class="btn" href={{ path('giveListManagementPage') }}>Proposer</a> </div>
                </div>
                <h4 class="centerText spaceBetween">Description</h4>
                <p>{{ bookInfo.description }}</p>
            </div>
        </div>

        <div class="row clearfix">
            <div class="col-lg-6 col-sm-6 col-md-6 borderBox spaceBetween">
                <ul>
                    <li>Genre : {{ bookInfo.genre }}</li>
                    <li>Sous-genre : {{ bookInfo.sousGenre }}</li>
                    <li>Année d'édition : {{ bookInfo.anneeEdition }}</li>
                    <li>Maison d'édition : {{ bookInfo.maisonEdition }}</li>

                </ul>
            </div>
            <div class="col-lg-6 col-sm-6 col-md-6 spaceBetween">
                <div class="col-lg-6 col-sm-6 col-md-6">
                    <h4 class="spaceBetween"> Auteur : {{ bookInfo.auteur }}</h4>
                    <img class="centerImg" src="{{ asset('images/' ~ bookInfo.imgAuteur) }}" alt="test1"/>
                </div>
                <div class="col-lg-6 col-sm-6 col-md-6">
                    <h4 class="spaceBetween">Quatrième de couverture</h4>
                    <img class="centerImg" src="{{ asset('images/' ~ bookInfo.imgQuatrCouv) }}" alt="test2"/>
                </div>
            </div>
        </div>

        <div class="row clearfix">
        {% if is_granted('ROLE_ADMIN') %}
            <div class="col-lg-6 col-sm-6 col-md-6  spaceBetween">
                <div class="form-sh"> <a class="btn" href={{ path('editBookPage', { 'id': bookInfo.id }) }}>Modifier le roman</a> </div>
            </div>
            <div class="col-lg-6 col-sm-6 col-md-6  spaceBetween">
                <div class="form-sh"> <a class="btn" href={{ path('deleteBook', { 'id': bookInfo.id }) }}>Supprimer le roman</a> </div>
            </div>
            {% else %}
                <div class="col-sm-3 spaceUpAndDown"><p></p></div>
                <div class="col-sm-6 spaceUpAndDown"><p>Il faut être administrateur pour modifier un roman</p></div>
                <div class="col-sm-3 spaceUpAndDown"><p></p></div>
        {% endif %}
        </div>


        <hr>
        <div class="row spaceUpAndDown spaceUpBetweenCommentariesAndBookDescription">

          <div class="row clearfix spaceUpAndDown">
              <h3 class="biggerSpaceBetween">Commentaires</h3>

              {% for commentData in commentariesData %}
                  {% if commentData.bookId == bookInfo %}
              <div class="clearfix">
              <div class="col-lg-4 col-sm-4 col-md-4 spaceBetween">
                 <a href={{ path('userProfilePage', { 'id': commentData.bookId.id }) }}> <img src="{{ asset('images/' ~ commentData.userId.avatar) }}" alt="icone" /></a>
                  <a href={{ path('userProfilePage', { 'id': commentData.bookId.id }) }}><h3>{{commentData.userId.nom}} {{commentData.userId.prenom}}</h3></a>

                  <p>Date de publication :  Le {{ commentData.createdAt | date('d/m/y') }} à {{ commentData.createdAt | date('H:i') }}  </p>
              </div>
              <div class="col-lg-8 col-sm-8 col-md-8 spaceBetween">
                  <p>{{ commentData.texte }}
                  </p>
              </div>



              </div>
                      {% if is_granted('ROLE_ADMIN') %}
              <div class="clearfix">
                      <div class="col-sm-4">
                          <div class="form-sh"> <a class="btn" href={{ path('editCommentPage', { 'id': commentData.id }) }}>Modifier le commentaire</a> </div>
                      </div>
                  <div class="col-sm-2">
                      <p></p>
                  </div>
                  <div class="col-sm-4">
                      <div class="form-sh"> <a class="btn" href={{ path('deleteCommentPage', { 'id': commentData.id }) }}>Supprimer le commentaire</a> </div>
                  </div>
                  <div class="col-sm-2">
                      <p></p>
                  </div>
              </div>
                      {% endif %}
                  {% endif %}
              {% endfor %}
          </div>


        </div>


        <div class="row clearfix">
            <div class="commentary spaceBetween">

    {% if is_granted('ROLE_USER') %}
                <form action="" method="post" class="commentaryform">

                    <textarea class="commentarybox" name="comment" id="comment" rows="10" >Laissez votre commentaire ici...</textarea>
                    <input class="inputStyle" type="submit" value= "Envoyer" >


                </form>
        {% else %} <p>Il faut être connecté pour poster des commentaires !</p>
            </div>
        </div>
    </div>
    {% endif %}
{% endblock %}