{#templates/pages/formulaire_romans#}
{% extends 'general.html.twig' %}


{% block content %}
    <div class="cooming-soon-box spaceBetween">
        <div class="soon-gradient ">
            <div class="map"></div>
            <div class="container ">
                <div class="row">
                    <div class="col-lg-6 col-lg-offset-3">

                        <div class="expand">
                            <h2>Ajouter un roman</h2>

                        </div>
                        <div class="get-box">

                            {{ form_start(formBook) }}

                            {{ form_row(formBook.titre) }}
                            {{ form_row(formBook.auteur) }}
                            {{ form_row(formBook.maison_edition) }}
                            {{ form_row(formBook.annee_edition) }}
                            {{ form_row(formBook.genre) }}
                            {{ form_row(formBook.sous_genre) }}
                            {{ form_row(formBook.breve_description) }}
                            {{ form_row(formBook.description) }}
                            {{ form_row(formBook.imgLivreFichier) }}
                            {{ form_row(formBook.imgAuteurFichier) }}
                            {{ form_row(formBook.imgQuatrCouvFichier) }}

                            <button type="submit" class="btn btn-primary btn-inscr spaceBetween">
                                Ajouter un roman
                            </button>

                            {{ form_end(formBook) }}


                        </div>
                    </div>
                    <div class="col-md-12">

                    </div>

                </div>
            </div>
        </div>
    </div>
{% endblock %}