{% extends 'general.html.twig' %}

{% block content %}
    <div class="furniture-box">
        <div class="container">

            <div class="row">
                <div class="furniture-main">
                    <h4 class="centerText spaceBetween">Liste romans proposés</h4>

                    <div class="row clearfix">

                        <div class="col-lg-12 col-sm-12 col-md-12 spaceBetween">
                            <div class="col-lg-4 col-sm-6 col-md-4">

                                <div class="col-lg-6 col-sm-6 col-md-6">
                                    <img class="spaceBetween" src="images/couverture_2.jpg" alt="image livre 1" />
                                    <h5>Titre roman</h5>
                                </div>

                                <div class="col-lg-6 col-sm-6 col-md-6">
                                    <input class="inputStyle" type="button" value= "Supprimer le livre" >
                                </div>


                            </div>
                            <div class="col-lg-4 col-sm-6 col-md-4">

                                <div class="col-lg-6 col-sm-6 col-md-6">
                                    <img class="spaceBetween" src="images/couverture_3.jpg" alt="image livre 2" />
                                    <h5>Titre roman</h5>
                                </div>

                                <div class="col-lg-6 col-sm-6 col-md-6">
                                    <input class="inputStyle" type="button" value= "Supprimer le livre" >
                                </div>

                            </div>


                            <div class="col-lg-4 col-sm-6 col-md-4">

                                <div class="col-lg-6 col-sm-6 col-md-6">
                                    <img class="spaceBetween" src="images/couverture_4.jpg" alt="image livre 3" />
                                    <h5>Titre roman</h5>
                                </div>

                                <div class="col-lg-6 col-sm-6 col-md-6">
                                    <input class="inputStyle" type="button" value= "Supprimer le livre" >
                                </div>

                            </div>
                        </div>


                        </div>

                        <div class="col-lg-3 col-sm-3 col-md-3"></div>

                        <div class="col-lg-6 col-sm-6 col-md-6 spaceBetween">
                            <div class="form-sh"> <a class="btn" href={{ path('bookSearchListPage') }}>Ajouter un roman</a> </div>
                        </div>

                        <div class="col-lg-3 col-sm-3 col-md-3"></div>

                    </div>

                </div>
            </div>
        </div>
    </div>
{% endblock %}