{% extends 'general.html.twig' %}

{% block content %}
    <div class="cooming-soon-box spaceBetween">
        <div class="soon-gradient">
            <div class="map"></div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-lg-offset-3">

                        <div class="expand">
                            <h2>Inscription</h2>

                        </div>
                        <div class="get-box">

                            {{ form_start(registrationForm) }}

                            {{ form_row(registrationForm.nom) }}
                            {{ form_row(registrationForm.prenom) }}
                            {{ form_row(registrationForm.rue) }}
                            {{ form_row(registrationForm.cp) }}
                            {{ form_row(registrationForm.ville) }}
                            {{ form_row(registrationForm.phone) }}
                            {{ form_row(registrationForm.email) }}
                            {{ form_row(registrationForm.username) }}
                            {{ form_row(registrationForm.password) }}

                            <button class="btn btn-primary btn-inscr">S'incrire</button>
                            {{ form_end(registrationForm) }}



                        </div>
                    </div>
                    <div class="col-md-12">

                    </div>

                </div>
            </div>
        </div>
    </div>
{% endblock %}