{% extends 'general.html.twig' %}

{% block content %}
    <div class="page-content-product spaceBetween">
        <div class="main-product">
            <div class="container">



                <div class="row ">
                    {%  for searchListBook in searchListBooks %}

                    <div class="col-lg-3 col-sm-3 col-md-3 bookBoxHeight clearfix">
                        <a href={{ path('bookDescriptionPage', { 'id': searchListBook.id }) }}>
                            <div class="box-img">
                                <h4>{{ searchListBook.titre }}</h4>
                                <img src="{{ asset('images/' ~ searchListBook.imgLivre) }}" alt="index book img" />
                                <p>{{ searchListBook.breveDescription}}</p>
                            </div>
                        </a>
                    </div>

                    {% endfor %}
                </div>




        </div>
    </div>
{% endblock %}