{% extends 'general.html.twig' %}

{% block content %}
    <div class="section-how-it-works">
        <div class="container">
            <div class="row">

                <div class="clearfix">
                    <div class="col-lg-6 col-sm-6 col-md-6 spaceBetween">
                        <h4>Liste utilisateurs</h4>
                    </div>

                    <div class="col-lg-4 col-sm-4 col-md-4 spaceBetween">
                        <p></p>

                    </div>


                    <div class="col-lg-2 col-sm-2 col-md-2 spaceBetween">
                        <input class="inputStyle userListInputStyle" type="submit" value= "Envoyer" >
                    </div>
                </div>
                {% for userMember in userList %}
                <div class="clearfix">
                    <div class="col-lg-4 col-sm-4 col-md-4 spaceBetween">
                        <a href="{{ path('userProfilePage', { 'id': userMember.id }) }}">
                        <img class="userAvatar" src="{{asset('images/' ~userMember.avatar)}}" alt="user icon" />
                        <h4>{{ userMember.username }}</h4>
                        </a>
                    </div>


                    <div class="col-lg-8 col-sm-8 col-md-8 spaceBetween">
                        <p></p>
                    </div>
                </div>
                {% endfor %}




            </div>
        </div>
    </div>
{% endblock %}