{% extends 'general.html.twig' %}

{% block content %}
    <div class="product-profile-box">
        <div class="container">
            <div class="row">

                <div class="col-md-12 col-sm-12 spaceBetween">
                    <h3 class="centerText"> Pseudo : {{ userData.username }}</h3>
                    <img class="centerImg" src="{{ asset('images/' ~userData.avatar) }}" alt="icone" />


                </div>



                <div class="col-md-12 col-sm-12 spaceBetween">
                    <h4 class="">Vos informations</h4>
                </div>

                <div class="col-md-12 col-sm-12 spaceBetween profileInfo">
                    <div class="col-md-6 col-sm-6 spaceBetween ">
                        <ul>
                            <li>Nom : {{ userData.nom }}</li>
                            <li>Prénom : {{ userData.prenom }}</li>
                            <li>Adresse mail : {{ userData.email }}</li>
                        </ul>
                    </div>
                    <div class="col-md-6 col-sm-6 spaceBetween">
                        <ul>
                            <li>Code Postal : {{ userData.cp }}</li>
                            <li>Ville : {{ userData.ville }}</li>
                            <li></li>
                        </ul>
                    </div>
                </div>

                    <div class="clearfix">
                        {% if is_granted('ROLE_ADMIN') %}
                        <div class="col-sm-4">
                            <div class="form-sh"> <a class="btn" href={{ path('editUserPage', { 'id': userData.id }) }}>Modifier l'utilisateur</a> </div>
                        </div>
                        <div class="col-sm-2">
                            <p></p>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-sh"> <a class="btn" href={{ path('deleteUserPage', { 'id': userData.id }) }}>Supprimer l'utilisateur</a> </div>
                        </div>
                        <div class="col-sm-2">
                            <p></p>
                        </div>

                            {% else %}
                        <div class="col-sm-3"><p></p></div>
                        <div class="col-sm-6"><p>Il faut être administrateur pour modifier directement un utilisateur</p></div>
                        <div class="col-sm-3"><p></p></div>
                        {% endif %}
                    </div>




                {% if is_granted('ROLE_USER') %}
                <div class="col-md-6 col-sm-6 spaceBetween">
                    <img class="centerImg profileBookImg spaceBetween" src="{{ asset('images/rechercher-un-livre.png') }}" alt="cherché" />
                    <h4 class="centerText spaceBetween">Livres recherchés</h4>
                    <div class="col-md-6 col-sm-6">
                        <div class="form-sh"> <a class="btn" href={{ path('bookSearchListPage') }}>Changer la liste</a> </div>
                    </div>
                    <div class="col-md-6 col-sm-6">
                        <div class="form-sh"> <a class="btn" href={{ path('wishListManagementPage') }}>Afficher la liste</a> </div>
                    </div>
                </div>

                <div class="col-md-6 col-sm-6 spaceBetween">
                    <img class="centerImg profileBookImg spaceBetween" src="{{ asset('images/liste_dons.jpg') }}" alt="proposé" />
                    <h4 class="centerText spaceBetween">Livres proposés</h4>
                    <div class="col-md-6 col-sm-6">
                        <div class="form-sh"> <a class="btn" href={{ path('bookSearchListPage') }}>Changer la liste</a> </div>
                    </div>
                    <div class="col-md-6 col-sm-6">
                        <div class="form-sh"> <a class="btn" href={{ path('giveListManagementPage') }}>Afficher la liste</a> </div>
                    </div>
                </div>
                {% endif %}

            </div>
        </div>
    </div>
{% endblock %}