{% extends 'general.html.twig' %}


{% block content %}
    <div class="cooming-soon-box spaceBetween">
        <div class="soon-gradient ">
            <div class="map"></div>
            <div class="container ">
                <div class="row">
                    <div class="col-lg-6 col-lg-offset-3">

                        <div class="expand">
                            <h2>Modifier un utilisateur</h2>

                        </div>
                        <div class="get-box">

                            {{ form_start(formUser) }}


                            {{ form_row(formUser.nom) }}
                            {{ form_row(formUser.prenom) }}
                            {{ form_row(formUser.rue) }}
                            {{ form_row(formUser.cp) }}
                            {{ form_row(formUser.ville) }}
                            {{ form_row(formUser.phone) }}
                            {{ form_row(formUser.email) }}
                            {{ form_row(formUser.username) }}
                            {{ form_row(formUser.password) }}

                            <button type="submit" class="btn btn-primary btn-inscr spaceBetween">Modifier un commentaire</button>

                            {{ form_end(formUser) }}


                        </div>
                    </div>
                    <div class="col-md-12">

                    </div>

                </div>
            </div>
        </div>
    </div>
{% endblock %}