{% extends 'base.html.twig' %}

{% block stylesheets %}
  <meta charset="UTF-8">
  <title>Accueil - Le carrefour des romans</title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <!--enable mobile device-->
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!--fontawesome css-->
  <link rel="stylesheet" href="{{asset('css/font-awesome.min.css')}}">
  <!--bootstrap css-->
  <link rel="stylesheet" href="{{asset('css/bootstrap.min.css')}}">
  <!--animate css-->
  <link rel="stylesheet" href="{{asset('css/animate-wow.css')}}">
  <!--main css-->
  <link rel="stylesheet" href="{{asset('css/style.css')}}">
  <link rel="stylesheet" href="{{asset('css/bootstrap-select.min.css')}}">
  <link rel="stylesheet" href="{{asset('css/slick.min.css')}}">
  <!--responsive css-->
  <link rel="stylesheet" href="{{asset('css/responsive.css')}}">
{% endblock %}

{% block body %}
  {% block header %}

      {% if is_granted('IS_AUTHENTICATED_FULLY') %}

          <header id="header" class="top-head">
              <!-- Static navbar -->
              <nav class="navbar navbar-default">
                  <div class="container-fluid">
                      <div class="row">
                          <div class="col-md-4 col-sm-12 left-rs">
                              <div class="logoImg">
                                  <a href={{ path('homePage') }}><img src="{{ asset('images/logo_carrefour_romans.png') }}" alt="logo" /></a>
                              </div>
                          </div>
                          <div class="col-md-8 col-sm-12">
                              <div class="right-nav">
                                  <div class="nav-b hidden-xs">
                                      <div class="nav-box">
                                          <ul>
                                              <li><a href={{ path('usersListPage') }}>Membres</a></li>
                                              <li></li>
                                          </ul>
                                      </div>
                                  </div>
                                  <div class="login-sr">
                                      <div class="login-signup">
                                          <ul>
                                              <li><a class="custom-b" href={{ path('userProfilePage') }}>Profil</a></li>
                                              <li><a class="custom-b" href="{{ path('app_logout') }}">Se déconnecter</a></li>
                                          </ul>
                                      </div>
                                  </div>

                              </div>
                          </div>
                      </div>
                  </div>
                  <!--/.container-fluid -->
              </nav>
          </header>



      {% else %}
          <header id="header" class="top-head">
              <!-- Static navbar -->
              <nav class="navbar navbar-default">
                  <div class="container-fluid">
                      <div class="row">
                          <div class="col-md-4 col-sm-12 left-rs">
                              <div class="logoImg">
                                  <a href={{ path('homePage') }}><img src="{{ asset('images/logo_carrefour_romans.png') }}" alt="logo" /></a>
                              </div>
                          </div>
                          <div class="col-md-8 col-sm-12">
                              <div class="right-nav">
                                  <div class="nav-b hidden-xs">
                                      <div class="nav-box">
                                          <ul>
                                              <li><a href={{ path('usersListPage') }}>Membres</a></li>
                                              <li></li>
                                          </ul>
                                      </div>
                                  </div>
                                  <div class="login-sr">
                                      <div class="login-signup">
                                          <ul>
                                              <li><a class="custom-b" href={{ path('registrationPage') }}>S'enregistrer</a></li>
                                              <li><a href={{ path('connectionPage') }}>Connexion</a></li>
                                          </ul>
                                      </div>
                                  </div>

                              </div>
                          </div>
                      </div>
                  </div>
                  <!--/.container-fluid -->
              </nav>
          </header>

      {% endif %}


  <!-- Modal -->


  <div class="page-content-product spaceBetween">
      <div class="main-product">
          <div class="container">
              <div class="row clearfix">
                  <div class="find-box">
                      <a href={{ path('homePage') }}><h1>Au carrefour des romans</h1></a>
                      <h4>Le site où les romans se croisent</h4>
                      <div class="product-sh">
                          <div class="col-sm-3">
                              <div class="form-sh">
                                  <select class="selectpicker">
                                      <option value="">Trier selon :</option>
                                      <option>Titre</option>
                                      <option>Auteur</option>
                                      <option>Maison d'édition</option>
                                      <option>Année d'édition</option>
                                      <option>Genre</option>
                                      <option>Sous-genre</option>
                                      <option>Brève description</option>
                                      <option>Description</option>
                                  </select>
                              </div>
                          </div>
                          <div class="col-sm-6">
                              <div class="form-sh">
                                  <input type="text" placeholder="Rechercher un roman" >
                              </div>
                          </div>

                          <div class="col-sm-3">
                              <div class="form-sh"> <a class="btn" href={{ path('bookSearchListPage') }}>Rechercher</a> </div>
                          </div>

                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
  {% endblock %}

{% block content %}
{% endblock %}

{% block footer %}
  <footer>
    <div class="main-footer">
        <div class="container">
            <div class="row">

                <div class="footer-link-box clearfix">

                    <div class="col-md-4 col-sm-4">
                        <div class="right-f-box">

                            <ul class="col-sm-12">
                                <li><a href={{ path('bookSearchListPage') }}><h2>Tout les livres</h2></a></li>

                            </ul>

                        </div>
                    </div>
                    <div class="col-md-4 col-sm-4">
                        <div class="right-f-box">

                            <ul class="col-sm-4">
                                <li><a href={{ path('contactPage') }}><h2>Contact</h2></a></li>
                            </ul>

                        </div>
                    </div>
                    <div class="col-md-4 col-sm-4">
                        <div class="left-f-box">
                            <div class="col-sm-4">

                                <ul>
                                    <li></li>

                                </ul>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="copyright">
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <p>All Rights Reserved. Company Name © 2019</p>
                </div>
                <div class="col-md-4">

                </div>
            </div>
        </div>
    </div>
  </footer>
{% endblock %}
{% endblock %}

{% block javascripts %}
    <!--main js-->
    <script src="{{ asset('js/jquery-1.12.4.min.js') }}"></script>
    <!--bootstrap js-->
    <script src="{{ asset('js/bootstrap.min.js') }}"></script>
    <script src="{{ asset('js/bootstrap-select.min.js') }}"></script>
    <script src="{{ asset('js/slick.min.js') }}"></script>
    <script src="{{ asset('js/wow.min.js') }}"></script>
    <!--custom js-->
    <script src="{{ asset('js/custom.js') }}"></script>
{% endblock %}
