{% if is_grantedIS_AUTHENTICATED_FULLY('ROLE_USER') %}

    <header id="header" class="top-head">
        <!-- Static navbar -->
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-4 col-sm-12 left-rs">
                        <div class="logoImg">
                            <a href={{ path('homePage') }}><img src="{{ asset('images/logo_carrefour_romans.png') }}" alt="logo" /></a>
                        </div>
                    </div>
                    <div class="col-md-8 col-sm-12">
                        <div class="right-nav">
                            <div class="nav-b hidden-xs">
                                <div class="nav-box">
                                    <ul>
                                        <li><a href={{ path('usersListPage') }}>Membres</a></li>
                                        <li></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="login-sr">
                                <div class="login-signup">
                                    <ul>
                                        <li><a class="custom-b" href={{ path('userProfilePage') }}>Profil</a></li>
                                        <li><a class="custom-b" href="{{ path('app_logout') }}">Se déconnecter</a></li>
                                    </ul>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <!--/.container-fluid -->
        </nav>
    </header>



{% else %}
    <header id="header" class="top-head">
        <!-- Static navbar -->
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-4 col-sm-12 left-rs">
                        <div class="logoImg">
                            <a href={{ path('homePage') }}><img src="{{ asset('images/logo_carrefour_romans.png') }}" alt="logo" /></a>
                        </div>
                    </div>
                    <div class="col-md-8 col-sm-12">
                        <div class="right-nav">
                            <div class="nav-b hidden-xs">
                                <div class="nav-box">
                                    <ul>
                                        <li><a href={{ path('usersListPage') }}>Membres</a></li>
                                        <li></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="login-sr">
                                <div class="login-signup">
                                    <ul>
                                        <li><a class="custom-b" href={{ path('registrationPage') }}>S'enregistrer</a></li>
                                        <li><a href={{ path('connectionPage') }}>Connexion</a></li>
                                    </ul>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <!--/.container-fluid -->
        </nav>
    </header>

{% endif %}